<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.8, minimum-scale=1.0"/>

    <title>WELCOME TO SSSOING WORLD</title>

    <link rel="stylesheet" href="../static/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="../static/css/fonts.css" type="text/css" media="all">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all">

    <script src="../static/js/jquery-1.12.4.min" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/chat.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div id="wrap">
        <header id="header">
            <h1><a href="/">SSSOING DEV</a></h1>
            <ul id="navbar">
                <li class="login"><a href="/">LOGIN</a></li>
                <li class="myinfo"><a href="/">MY INFO</a></li>
            </ul>
        </header>

        <div id="aside">
            <ul>
                <li><a href="#" class="main-btn">WHO</a></li>
                <li><a href="#" class="portfolio-btn">PORTFOLIO</a></li>
                <li><a href="#" class="devlog-btn">DEVLOG</a></li>
                <li><a href="#" class="visit-btn">VISIT</a></li>
            </ul>
        </div>

        <section id="section1-main">
            <ul class="section1-intro">
                <li><img src="../static/images/songyi.jpg" alt="sssoingkim pic"></li>
                <li>안녕하세요. 프론트엔드 개발자 김송이입니다.</li>
            </ul>
        </section>

        <section id="section2-portfolio">

        </section>

        <footer id="footer">
            <p>If you want to CONTACT me,</p>
            <ul class="sns-icon-wrap">
                <ul class="footer-email">
                    <li><a href="#"><img src="../static/images/icon_gmail.png" alt="GMAIL icon"></a></li>
                    <li>EMAIL</li>
                </ul>
                <ul class="footer-facebook">
                    <li><a href="https://www.facebook.com/songyi.kim.79/"><img src="../static/images/icon_facebook.png" alt="FACEBOOK icon"></a></li>
                    <li>FACEBOOK</li>
                </ul>
                <ul class="footer-insta">
                    <li><a href="https://www.instagram.com/sssoing/"><img src="../static/images/icon_insta.png" alt="INSTA icon"></a></li>
                    <li>INSTAGRAM</li>
                </ul>
                <ul class="footer-git">
                    <li><a href="https://github.com/sssoingkim/"><img src="../static/images/icon_git.png" alt="GIT icon"></a></li>
                    <li>GIT</li>
                </ul>
            </ul>
        </footer>

    </div>

</body>
</html>